body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    /* font-family: Poppins, sans-serif; */
}

body {
    line-height: 1.56;

}

.nav-bar {
    font-family: Lato, sans-serif;
    background: #9466EA;
    padding: 0px 100px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-bar-inner {
    display: flex;
    justify-content: right;

}

.items {
    padding: 14px 16px;
    
}

.items:first-child {
    margin-right: auto;
    font-family: 'Style Script', cursive;
    font-size: 40px;
    padding:0px
}



.items a {
    text-decoration: none;
    color: black
}

.items:hover {
    background:#9466EA
}

.items:active {
    background:#9466EA
}

.container {
    margin: 80px 100px 20px 100px;
    display: flex
}

.div-1 {
    width: 80%;
    height: 300px;
    padding: 20px;
}

@keyframes example {
    0%   {filter: brightness(10%); width:10%}
    25%  {filter: brightness(30%); width:15%}
    50%  {filter: brightness(50%); width:20%}
    75%  {filter: brightness(75%); width:25}
    100% {filter: brightness(100%); width:30%}
  }

.display-image {
    width: 30%;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
   
}


.link-1 {
    margin-top: 40px;

}

.link-1 a {
    text-decoration: none;
    padding: 15px 10px;
    background: #FF7599;
    color: white;
}

.link-1 a:first-child {
    margin-right: 30px;
}


.container-2 {
    display: flex;
    padding: 40px 100px;
    font-family: Poppins, sans-serif;
    flex-wrap: wrap;
    background: #F6F6F6;
}


.row-1 {
    flex: 30%;
    border-radius: 20px;
    background: #9466EA;
    padding: 20px
}


.row-2 {
    flex: 70%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px
}

.row-2 h2 {
    font-weight: 500;
    line-height: 48px;
}

.row-2 h1 {
    font-weight: 600;
}

.row-2 p {
    line-height: 28px;
}



@media only screen and (max-width: 600px) {

    .row-1,
    .row-2 {
        flex: 100%
    }

    .row-2 {
        margin-top: 20px;
    }
}

.col {
    padding: 10px;
    color: #FFFFFF;
}

.col a {
    text-decoration: none;
    color: #FFFFFF;
}



.skill {
    display: flex;
    padding: 40px 100px;
    flex-wrap: wrap;
    font-family: Poppins, sans-serif;
}

.skill-1 {
    flex: 30%;
    margin-top: 20px;
}


.skill-2 {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}

.part {
    flex: 50%;
    height: 120px;
    padding: 10px;
    border-right: 1px solid #9466EA;
    margin-top: 20px
}


@media only screen and (max-width: 768px) {

    .skill-1,
    .skill-2 {
        flex: 100%
    }

    .part {
        flex: 100%;
        padding-left: 0px;
        border-bottom: 1px solid #9466EA;
        border-right: 0;
    }

    .part:last-child {
        border: 0px;
    }
}

.experience {
    display: flex;
    padding: 40px 100px;
    flex-wrap: wrap;
    font-family: Poppins, sans-serif;
    background: #F6F6F6;
}

.ex-1 {
    flex: 30%;
    margin-top: 20px;
    padding-top: 30px;
}

.ex-3 {
    flex: 70%;
    margin-top: 20px;
    padding-top: 10px;
}

.ex-4 {
    border-bottom: 1px solid #9466EA
}

.ex-4:last-child {
    border: 0px
}

.project {
    display: flex;
    margin: 40px 100px;
    flex-wrap: wrap;
    font-family: Poppins, sans-serif;
    
}
.pro-1 {
    flex: 30%
}

.pro-2 {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}

#contact {
    padding: 40px 100px;
    font-family: Poppins, sans-serif;
}

#contact a {
    text-decoration: none;
    color: #9466EA;
    font-style: italic;
}


.pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery {
    padding: 40px 100px;
}

.gallery-item img {
    width: 100%;
    height: 100%
}

.footer {
    background: #F2F2F2;
    height: 50px;
    margin:auto;
    text-align: center;
}

@media only screen and (max-width: 1000px) {

    .container {
        display: block;
        margin: 20px;
    }



    .div-1,
    .display-image {
        width: 100%;
        height: 100%
    }
    
    .nav-bar {
        padding: 0px 20px;
    }

    .container-2,
    .skill,
    .experience,
    #contact, .project, .gallery {
        padding: 20px;
    }
}


@media only screen and (max-width: 768px) {

    .ex-1,
    .ex-3 {
        flex: 100%
    }
}