body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Poppins, sans-serif;
}

body {
    background: #F5F7FA;
    line-height: 1.56;

}

.nav-bar {
    padding: 20px;
    height: 60px;
    background: #F2F2F2
}

.nav-bar-inner {
    display: flex;
    justify-content: right;

}

.items {
    margin: 10px;
    padding: 10px 10px;
}

.container {
    margin: 20px 100px;
    display: flex
}

.div-1 {
    width: 50%;
    height: 350px;
    padding: 20px;
}

.display-image {
    width: 50%;
    height: 350px;
}

.link-1 {
    margin-top: 60px;

}

.link-1 a {
    text-decoration: none;
    padding: 15px;
    background: #FF7599;
    color: white;
}

.link-1 a:first-child {
    margin-right: 40px;
}


.container-2 {
    display: flex;
    margin: 40px 100px;
    font-family: Poppins, sans-serif;
    flex-wrap: wrap;
}


.row-1 {
    flex: 30%;
    border-radius: 20px;
    background: #9466EA;
    padding: 20px
}


.row-2 {
    flex: 70%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px
}

.row-2 h2 {
    font-weight: 500;
    line-height: 48px;
}

.row-2 h1 {
    font-weight: 600;
}

.row-2 p {
    line-height: 28px;
}



@media only screen and (max-width: 600px) {

    .row-1,
    .row-2 {
        flex: 100%
    }

    .row-2 {
        margin-top: 20px;
    }
}

.col {
    padding: 10px;
    color: #FFFFFF;
}

.col a {
    text-decoration: none;
    color: #FFFFFF;
}



.skill {
    display: flex;
    margin: 40px 100px;
    flex-wrap: wrap;
}

.skill-1 {
    flex: 30%;
    margin-top: 20px;
}


.skill-2 {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}

.part {
    flex: 50%;
    height: 120px;
    padding: 10px;
    border-right: 1px solid #9466EA;
    margin-top: 20px
}


@media only screen and (max-width: 768px) {

    .skill-1,
    .skill-2 {
        flex: 100%
    }

    .part {
        flex: 100%;
        padding-left: 0px;
        border-bottom: 1px solid #9466EA;
        border-right: 0;
    }

    .part:last-child {
        border: 0px;
    }
}

.experience {
    display: flex;
    margin: 40px 100px;
    flex-wrap: wrap;
}

.ex-1 {
    flex: 30%;
    margin-top: 20px;
    padding-top: 30px;
}

.ex-3 {
    flex: 70%;
    margin-top: 20px;
    padding-top: 10px;
}

.ex-4 {
    border-bottom: 1px solid #9466EA
}

.ex-4:last-child {
    border: 0px
}

#contact {
    margin: 40px 100px;
}

#contact a {
    text-decoration: none;
    color: #9466EA;
    font-style: italic;
}

@media only screen and (max-width: 1000px) {

    .container {
        display: block;
        margin: 20px;
    }



    .div-1,
    .display-image {
        width: 100%
    }

    .container-2,
    .skill,
    .experience,
    #contact {
        margin: 20px;
    }
}


@media only screen and (max-width: 768px) {

    .ex-1,
    .ex-3 {
        flex: 100%
    }
}