body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Poppins, sans-serif;
}

body {
    background: #F5F7FA;
    width: 90%;
    margin: auto;
}

.nav-bar {
    height: 60px;
    background: #F2F2F2
}

.nav-bar-inner {
    display: flex;
    justify-content: right;

}

.items {
    margin: 10px;
    padding: 10px 10px;
}

.container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.div-1 {
    flex: 50%;
    padding: 30px;
}

.link-1 {
    margin-top: 60px;
}

.div-1 a {
    text-decoration: none;
    padding: 15px 20px;
    color: white;
    background: #ff7599;
    margin-right: 30px;
}

.div-1 a:hover {
    background: #9466EA;
}

.display-image {
    flex: 50%;
}



.text-1 {
    color: #9466EA;
    font-family: Raleway, sans-serif;
    margin-bottom: 40px;
    font-size: 40px;
}

.text-2 {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
}


.display-image img {
    width: 100%;
}



@media only screen and (max-width: 1200px) {

    .text-1 {
        margin-bottom: 10px
    }



    .link-1 a {
        padding: 10px 15px
    }

    body {
        width: 80%
    }
}

@media only screen and (max-width: 1000px) {

    .div-1,
    .display-image {
        flex: 100%;
        padding: 10px;
    }
}



.container-2 {
    display: flex;
    margin-top: 50px;
    font-family: Poppins, sans-serif;
    flex-wrap: wrap;
}


.row-1 {
    flex: 30%;
    border-radius: 20px;
    background: #9466EA;
    padding: 20px
}


.row-2 {
    flex: 70%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px
}

.row-2 h2 {
    font-weight: 500;
    line-height: 48px;
}

.row-2 h1 {
    font-weight: 600;
}

.row-2 p {
    line-height: 28px;
}


@media only screen and (max-width: 600px) {

    .row-1,
    .row-2 {
        flex: 100%
    }

    .row-2 {
        margin-top: 20px;
    }
}

.col {
    padding: 10px;
    color: #FFFFFF;
}

.col a {
    text-decoration: none;
    color: #FFFFFF;
}



.skill {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.skill-1 {
    flex: 30%;
    margin-top: 20px;
}


.skill-2 {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}

.part {
    flex: 50%;
    height: 120px;
    padding: 10px;
    border-right: 1px solid #9466EA;
    margin-top: 20px
}

@media only screen and (max-width: 768px) {

    .skill-1,
    .skill-2 {
        flex: 100%
    }

    .part {
        flex: 100%;
        padding-left: 0px;
        border-bottom: 1px solid #9466EA;
        border-right: 0;
    }
}

.experience {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.ex-1 {
    flex: 30%;
    margin-top: 20px;
    padding-top: 30px;
}

.ex-3 {
    flex: 70%;
    margin-top: 20px;
    padding-top: 10px;
}

.ex-4 {
    padding: 30px;
    border-bottom: 1px solid #9466EA
}

@media only screen and (max-width: 768px) {

    .ex-1,
    .ex-3 {
        flex: 100%
    }
}